*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 50px;
    top: 0;
    background-color: rgba(0, 0, 0,0.7);
    /* opacity: 0.9; */
    position: fixed;
    z-index:10;
    margin-right: 25px;
    
}
.header-homeIcon{
    
    width: 5%;
    float: left; 
    color: #fff;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 25px;

    
}
.header-searchBox{
    
    width: 240px;
    height: 30px;
    position: relative;
    float: left;
    top:10px;
    margin-left: 25px;

}
.header-searchBox input{

    width: 100%;
    height: 100%;
    border-radius: 20px; 
    border:0;
}
.header-searchBox i{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.header-list{
    list-style-type: none;
    float: right;
    margin-right: 40px;
}
.header-list li{
    margin: 0 10px;
    line-height: 40px;
    display: inline-block;
}
.header-list li a{
    text-decoration: none;
    color: #fff;
    padding-bottom: 10px;
    position: relative;
}
.header-list li a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff9800;
    opacity: 0;
    pointer-events: none;
}

.header-list li a:hover::after {
    width: 100%;
    opacity: 0.8;
    transition: 0.5s;
}
.list-dropdwon{
    color: #ffffff;
    position: absolute;
    width: 150px;
    height: 170px;
    background-color: #252525;
    text-align: center;
    padding-top: 10px;
    border-radius: 15px;
    z-index: 100;
    visibility: hidden;  
    transition: 0.5s; 
}
.list-dropdwon li{
    display: block;
    line-height: 50px;
}
.dropdwon:hover .list-dropdwon{
    visibility:visible;
    
}


.home-parent {

     width: 100%;
     height:100vh;
     background-image: url(../images/risen-wang-20jX9b35r_M-unsplash.jpg);
     position: relative;
     background-size: contain;
  
 }

 .home-overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color:  rgba(0, 0, 0, 0.7);
 }

 .home-content {
    color: #fff;
    width: 60%;

    /* hero image */

     position: absolute ;
     top: 50%;
     left: 50%;
     transform: translate( -50%  , -50% );

     text-align: center;
 }

 .home-title1 {
    font-size: 68px;
 }

 .home-p {
    color: #f0eded;
    margin: 15px  0px;
    letter-spacing: 2px;

 }

 .home-btn {
    width: 130px;
    padding: 15px;
    border: 0;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
 }

 .home-btn2 {
    background-color: #3A8DFF;
    color: #fff;
    margin-left: 12px;
 }

 .home-btn:hover {
    opacity: 0.7;
 }
 .sec2-parent{
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
     overflow:auto;
   
 }
 .sec2-title1{
    color: #00bcd4;
    text-align: center;
    padding-top: 70px;
    font-size: 40px;
 }
 .sec2-line1{
    background-color: #ff9800;
    width: 90px;
    height: 2px;
    margin:auto;
    margin-top: 10px;
 }
 .sec2-content{
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top:50px ;
     
 }
 .sec2-div1{
    position: relative;
    float: left;
    width: 320px;
    height: 220px;
    background-color: #252525;
    border: 1px solid #00bcd4;
    margin-top: 80px;
    margin-left:100px ;
    text-align: center;
    z-index: 1;
    border-radius: 10px;
   
    
 }
 .sec2-div1  i{
    font-size:30px ;
    padding-top: 20px;
    color: #00bcd4;
    
 }
 
 .sec2-div1 h2{
    font-size: 26px;
    padding-top: 22px;
     color: #ffffff;
 }
.sec2-div1 p{
    padding-top: 20px;
    color: #bbbbbb;
    font-weight: bold;
}
.sec2-div1 a{
    color: #00bcd4;
    display:inline-block;
    padding-top: 22px;
    text-decoration: none;
    
}

.sec2-div1 a:hover{
    color: #ff9800;
}
.sec2-div1:hover   h2{
     color: #00bcd4;


}
.sec2-div1:hover  p{
    color: #ffffff;
    
}
.sec2-div1:hover{
    border: 1px solid #252525;
}
.sec2-div1::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color:rgba(0, 188, 212, 0.2);
    opacity: 1;
    pointer-events: none;
    

}
.sec2-div1:hover::after{
    width: 100%;
    height: 100%;
    opacity:0.8;
    transition:0.5s ;
    border-radius: 10px;
    

}
/* sec3----------------------------------------- */
.sec3-parent{
    width: 100%;
    height: 100vh;
     background-color: #121212;
      
}
.sec3-title1{
    color: #00bcd4;
    text-align: center;
    padding-top: 70px;
    font-size: 40px;
}
.sec3-line1{
     background-color: #ff9800;
    width: 90px;
    height: 2px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 40px;

}
.sec3-container{
    margin-top: 30px;
    width:70% ;
    height: 65%;
    margin: auto;
    

}
.sec3-content{
    width: 300px;
    height: 200px;
    float: left;
    margin: 20px 20px;
    position: relative;
    border: 1px solid #2c2c2c;
}
.sec3layer1{
    background-color:rgba(0, 0, 0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1;
    color: #fff;
    transition:.1s ;
    visibility: hidden;

}
.sec3-content:hover{
    border: none;
}
.sec3-content:hover .sec3layer1{
    visibility: visible;
}
.h3category{
    color: rgb(181, 181, 184);
    font-size: 30px;
    padding-top: 30px;
    
}
.sec3span{
    color: #fff;
    position: relative;
    top:20px;
    
}


.sec3icon2{
    background-color: #fff;
    width: 40px;
    height: 30px;
    padding-top: 7px;
    text-align: center;
    color: rgb(131, 131, 133);
    font-size: 20px;
    border-radius: 6px;
}
.sec3icon3{
   background-color: #fff;
    width: 40px;
    height: 30px;
    padding-top: 7px;
    text-align: center;
    color: rgb(131, 131, 133);
    font-size: 20px;
    border-radius: 6px;
}
.sec3icons a{
     display:inline-block;
    position: relative;
    top: 50px;
}
  /* sec4 ----------------------------------------------------------------- */
  .sec4{
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
     
  }
 .sec4-title{
    color: #00bcd4;
    text-align: center;
    padding-top: 70px;
    font-size: 40px;
}
.sec4-line{
    background-color: #ff9800;
    width: 90px;
    height: 2px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 40px;

}
.sec4-container{
    width: 80%;
    height: 70%;
    margin: auto;
     

}
.sec4-parent{
    width: 300px;
    height: 200px;
    background-color: #252525;
    float: left;
    margin: 30px 50px;
    border-radius: 10px;
    border: 1px solid #00bcd4;
    position: relative;
}
.sec4-parent:hover .sec4-h3content{
    color: #00bcd4;
}
.sec4-parent:hover .sec4-pcontent{
    color: #ffffff;
}
.sec4-parent:hover{
    border: none;
}


.sec4-content{
    position: relative;
}
.sec4-icons{
    position: absolute;
    font-size: 30px;
    left: 10px;
    top: 20px;
    color: #00bcd4;
}
.sec4-h3content{
    position: absolute;
    left: 55px;
    top: 23px;
    font-size: 25px;
    width: 70%;
    color: #ffffff;
}
.sec4-pcontent{
    position: absolute;
    left: 55px;
    top: 115px;
    width: 70%;
    color: #bbbbbb;
}
.sec4-parent::after{
    position: absolute;
    content: "";
    background-color: #00bcd4;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    opacity: 1;
    border-radius: 10px;
    pointer-events: none;

}
.sec4-parent:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.2;
    border: none;
}
/* sec5------------------------------------------------------------------ */
.sec5{
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
    position: relative;

}
.sec5-content{
    width: 36%;
    height: 70%;
    /* background-color: #d40000; */
    float: left;
     /* margin-top: 40px; */
     
    position: absolute;
    left: 130px;
    top: 80px;


}

.sec5-ticontent{
    color: #00bcd4;
    font-size: 40px;
    padding-top:30px;
    text-transform: capitalize;
}
.sec5-hrcontent{
    width: 80px;
    height: 2px;
    background-color: #ff9800;
    margin-top: 7px;
    margin-bottom:20px ;
    
}
.sec5-pcontent{
    padding-bottom: 35px;
    color: #bbbbbb;
}
.sec5-list ul{
    list-style:none;
    line-height: 50px;
    font-size: 17px;
    
}
 .sec5-licontent{
    color: #ffffff; 
}
.sec5-icons{
    color: #00bcd4;
}
.sec5-img{
     width: 350;
    height: 450;
    /* background-color: #00bcd4; */
    float: left;
    margin-left:100px;
    position: absolute;
     left: 60%;
    top: 80px;
    /* border: 1px solid #00bcd4; */
    
}


.sec5-ullist2{
    list-style: none;
    text-align: center;

    
}
.sec5-ullist2 li{
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 5px;
    
}
.sec5-ullist2 li.li1list2{
    background-color: #00bcd4;
}
.sec5-ullist2 li:hover{
  background-color: #00bcd4;
}
/* sec6 ----------------------------------------------------------------- */
.sec6-parent{
    width: 100%;
    height: 400px;
    background-image: url(../images/pexels-ivan-samkov-4164515.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}
.sec6-overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
.sec6-container{
    width:70% ;
    height: 50%;
    margin: auto;

}
.sec6-item{
    
    text-align: center;
    float: left; 
    padding-top: 130px;
    width: 25%;
    
}
.sec6-item-icon{
    color: #00bcd4;
    margin-bottom: 15px;
    font-size: 40px;
}
.sec6-item-title{
    color: #ffffff;
    font-size:20px ;    
    
}
.sec6-item-text{
    color: #d3d3d3;
}
/* sec7 ------------------------------------------------------------------- */
.sec7{
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
     

}
.sec7-title{
    color: #00bcd4;
    text-align: center;
    padding-top: 70px;
    font-size: 40px;
}
.sec7-line{
    background-color: #ff9800;
    width: 90px;
    height: 2px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}
.sec7-parent{
    width: 90%;
    height: 70%;
    
    margin: auto;
}
.sec7-content{
   position: relative;
    float: left;
    width: 320px;
    height: 380px;
    background-color: #252525;
    border: 1px solid #00bcd4;
    margin-top: 80px;
    margin-left: 100px;
    text-align: center;
    z-index: 1;
    border-radius: 10px;
}
.sec7-parent-title{
    color:#ffffff;
    padding-top: 30px;
    font-size: 20px;
    text-transform: capitalize;
}
.sec7-parent-circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #2c2c2c;
    margin: auto;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #00bcd4;
}
.circle-title{
    color: #00bcd4;
    font-size: 25px;
    
}
.sec7-parent-text{
    color: #ffffff;
    font-size: 17px;
    line-height: 40px;
}
.sec7-parent-btn{
    margin-top: 30px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #00bcd4;
    background-color: #2c2c2c;
    color: #00bcd4;
    position: absolute;
    z-index: 1;
    right: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.sec7-content::after{
    position: absolute;
    content: "";
    background-color: #00bcd4;
    border-radius: 10px;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    opacity: 1;
    pointer-events: none;
    
}
.sec7-content:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.2;
    
}
.sec7-content:hover{
    border: none;
}
.sec7-content:hover .sec7-parent-title{
    color: #00bcd4;
}
/* sec8 ------------------------------------------------------------------ */
.sec8-parent{
    width: 100%;
    height: 400px;
    background-image: url(../images/pexels-victorfreitas-2261481.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}
.sec8-overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
.sec8-container{
    width:70% ;
    height: 80%;
    margin: auto;
    

}
.sec8-content{
    width: 100%;
    height: 100%;
    text-align: center;
    float: left; 
    width: 50%;
    
}

.sec8-item-img1{
    border-radius: 50%;
    position: absolute;
    left: 45px;
    top: 95px;

}   

.sec8-item{
    position: relative;
    width: 87%;
    height: 60%;
   
    
  
}
.sec8-img-name{
    font-size: 30px;
    color: #ffffff;
    padding-top: 105px;
}
.sec8-item-title{
    color: #00bcd4;
    font-size: 20px;
    line-height: 2;
}
.sec8-item-text{
       margin: 0px 30px 0px 50px;
    line-height: 1.4;
    text-transform: capitalize;
    color: #dddddd;
}
/* sec9 -------------------------------------------------------- */
.sec9-parent{
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
    
   
 }
 .sec9-title1{
    color: #00bcd4;
    text-align: center;
    padding-top: 70px;
    font-size: 40px;
 }
 .sec9-line1{
    background-color: #ff9800;
    width: 90px;
    height: 2px;
    margin:auto;
    margin-top: 10px;
 }
 .sec9-content{
    width: 90%;
    height: 70%;
    
    margin: auto;
    margin-top:50px ;
 }
 .sec9-div1{
    position: relative;
    float: left;
    width: 320px;
    height: 350px;
    background-color: #252525;
    margin-top: 50px;
    margin-left:100px ;
    text-align: center;
    z-index: 1;
    border-radius: 10px;

   
    
 }
 .sec9-div1:hover{
    border: 1px solid #00bcd4;
 }

 .sec9-div1::after{
    position: absolute;
    content: "";
    background-color: #00bcd4;
    opacity: 1;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 10px;
 }
 .sec9-div1:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.2;
    
 }
 .sec9-img{
     position: relative;
    top: 20px;
    width: 270px;
    
    margin: auto;
    
 }
 .sec9-teamicon{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00bcd4;
    visibility: hidden;
 }
 .sec9-div1:hover .sec9-teamicon{
    visibility: visible;
 }

 .sec9-teamicon a{
   
    width: 40px;
    height: 40px;
    color: #fff; 
    display: block;
    padding-top: 10px;
    
 }
 
 
 .sec9-div1 h2{
    font-size: 25px;
    padding-top: 35px;
     color: #ffffff;
 }
 .sec9-div1:hover h2{
    color: #00bcd4;
 }
.sec9-div1 p{
    padding-top: 15px;
    color: #bbbbbb;
    font-weight: bold;

}
.sec9-div1:hover p{
    color: #ffffff;
}
/* sec10 ------------------------------------------------------------------- */
.sec10{
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;

    

}
.sec10-title{
    color: #00bcd4;
    text-align: center;
    padding-top: 70px;
    font-size: 40px;
}
.sec10-line{
    background-color: #ff9800;
    width: 90px;
    height: 2px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}
.sec10-parent{
    width: 90%;
    height: 70%;
    margin: auto;

}
.sec10-content{
   position: relative;
    float: left;
    width: 350px;
    height: 500px;
    background-color: #252525;
    border: 1px solid #00bcd4;
    margin-top: 20px;
    margin-left: 80px;
    text-align: center;
    z-index: 1;
    border-radius: 10px;
}
.sec10-parent-title{
    color:#ffffff;
    padding-top: 20px;
    font-size: 20px;
    text-transform: capitalize;
}
.sec10-img{
    position: relative;
    top: 20px;
    width: 250px;
    height: 250px;
    background-color: #3A8DFF;
    margin: auto;
    z-index: 10;
    

}

.sec10-iconlist{
    list-style: none;
    width: auto;
    height: auto;
    /* background-color: #00bcd4; */
    margin: auto;
    margin-top: 40px;
    
    
}
.sec10-iconlist li{
    display: inline;
    margin-left: 20px;
    color: #fff;
    
}
.sec10-iconlist li a{
    text-decoration: none;
}
.sec10-iconlist li a i{
    
    color: #00bcd4;
    
}

.sec10-parent-text{
    color: #cdcccc;
    
    padding-top: 20px;
    padding-bottom: 20px;
}
.sec10-readmore{
    text-decoration: none;
    color: #00bcd4;
  
    
}
.sec10-readmore:hover{
    color: #ff9800;
}

.sec10-content::after{
    position: absolute;
    content: "";
    background-color: #00bcd4;
    border-radius: 10px;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    opacity: 1;
    pointer-events: none;
    
}
.sec10-content:hover::after{
    width: 100%;
    height: 100%;
    transition: 1s;
    opacity: 0.2;
    
}
.sec10-content:hover{
    border: none;
}

.sec10-content:hover .sec10-parent-title {
    color: #00bcd4;
}
.sec10-content:hover .sec10-parent-text{
    color: #ffffff;
}
/* footer ---------------------------------------------------------------- */
.footer{
    width: 100%;
    height: 350px;
    background-color: #121212;
}
.footer-parent{
    width: 350px;
    height: 300px;
    /* background-color: #575e5f; */
    margin:auto;
    text-align: center;
    padding-top: 20px;
}
.footer-parent img{
    border-radius: 10px;
}
.footer-list{
    list-style-type: none;
    padding-top: 10px;
}
.footer-list li{
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(3, 226, 255, 0.5);
    color: #ffffff;
    font-size: 30px;
    padding-top: 11px;
    /* position: relative; */
}
.footer-list li i{
    color: #ffffff;
}
.footer-list li:hover{
    background-color: #00bcd4;
}
.footer-text{
    color: #fff;
    padding-top: 10px;
}
